@import "tailwindcss";



html, body {
  background: #ffffff;
  color: #000;
  font-family: ui-sans-serif, system-ui;
}

/* ===== UI SIGNATURE ===== */
.brutal-card {
  @apply bg-white border-4 border-black rounded-xl;
  box-shadow: 8px 8px 0 #000;
}

.brutal-button {
  @apply border-2 border-black px-6 py-3 font-bold uppercase transition-all;
  box-shadow: 4px 4px 0 #000;
}

.brutal-button:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.brutal-badge {
  @apply px-3 py-1 border-2 border-black font-bold uppercase text-sm;
}
